<div>
 <nav-bar> </nav-bar>
 <landing-hero> </landing-hero>
 <landing-about> </landing-about>
 <landing-program :program-themes="<%= @program_themes.to_json %>"></landing-program>
 <landing-challenges> </landing-challenges>
 <landing-members :members="<%= ActiveModelSerializers::SerializableResource.new(@members).to_json %>"></landing-members>
 <landing-posts></landing-posts>
 <landing-invitation> </landing-invitation>
 <bichito-footer></bichito-footer>
</div>
